<div class="masthead{% unless shareicons %} no-social{% endunless %}">
  <div class="wrapper">
    <header>
      <h1 itemprop="name">{{ include.title }}</h1>
      {% if include.date %}
        <time class="date" datetime='{{ include.date | date: "%Y-%m-%d" }}'>{{ include.date | date: "%A, %-d %B %Y" }}</time>
      {% else %}
        {% if include.datefrom %}
          {% if include.dateto %}
            <span class="date">
              <time datetime='{{ include.dateto | date: "%Y-%m-%d" }}'>
                {% capture firstyear %}{{ include.dateto | date: "%Y" }}{% endcapture %}
                {% capture lastyear %}{{ include.datefrom | date: "%Y" }}{% endcapture %}
                {% if firstyear == lastyear %}
                  {{ include.datefrom | date: "%-d %B" }}
                {% else %}
                  {{ include.datefrom | date: "%-d %B %Y" }}
                {% endif %}
              </time> - 
              <time datetime='{{ include.dateto | date: "%Y-%m-%d" }}'>{{ include.dateto | date: "%-d %B %Y" }}</time>
            </span>
          {% endif %}
        {% endif %}
      {% endif %}
    </header>
    {% if include.tags %}
      <span class="screen-reader">Tags: </span>
      <ul class="tags">
        {% for tag in include.tags %}
          {% if tag == "C#" %}
            <li><a href="{{ site.baseurl }}/p/explore.html?t=C%23" rel="tag">{{ tag }}</a></li>
          {% else %}
            <li><a href="{{ site.baseurl }}/p/explore.html?t={{ tag | replace: ' ','%20' | UrlEncode }}" rel="tag">{{ tag }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
    <div class="inner-wrapper" itemprop="description">
      {% if include.text %}
        <p>{{ include.text }}</p>
      {% endif %}
      {% if include.shareicons %}
        {% include share-icons.html %}
      {% endif %}
      {% include fusion-ad.html %}
    </div>
  </div>
</div>