.fusionentire {
  display: block;
  padding: 1em;
  background-color: $navy-light;
  line-height: 1.2;

  a {
    display: block;
    color: $fusion-ad-color;
  }
}

.fusiontext {
  font-size: 16px;
  font-size: 1rem;
}

@include media-lt-md-sm {
  #fusion_ad {
    margin: 0 -1em;
  }

  .fusionentire {
    width: 100%;

    &::after {
      display: block;
      content: "";
      clear: both;
    }

    a:first-child {
      float: left;
      margin-right: 1em;
      line-height: 0;
    }
  }
}

@include media-gt-md-sm {
  .fusionentire {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -1.5em;
  }

  .fusiontext {
    width: $fusion-ad-width;
  }

  // Style overrides for .masthead's marked as having a wide ad
  .wide-ad {
    .fusionentire {
      padding: .5em 0;
      width: $fusion-ad-wide-width;

      a:first-child {
        float: left;
        line-height: 0;
      }

      a {
        display: inline-block;
        width: $fusion-ad-width;
        padding: 0 .5em;
      }
    }
  }
}