%hr-circle {
  border: 0;
  width: .3em;
  height: .3em;
  border-radius: 50%;
}

hr {
  @extend %hr-circle;
  margin: $paragraph-spacing auto 0;
  background-color: $red;

  &::before,
  &::after {
    @extend %hr-circle;
    background-color: $purple;
  }
}