.masthead {
  // Inline
  //background-color: $navy;
  //color: $grey;
  //padding: 1.5em 0 .5em 0;
  //line-height: 1.6;

  // Clear images in masthead
  // No images atm
  //&::after {
  //  display: block;
  //  content: "";
  //  clear: both;
  //}

  h1 {
    @include media-full {
      display: inline-block;
    }
    // Inline
    //color: $white;
    //font-size: 1.5em;
    //margin: 0;
    //@include media-gt-md-sm {
    //  margin-right: 1em;
    //}
    @include header-shadow-heavy;
  }

  a:hover h1,
  a:focus h1 {
    color: $red;
  }

  // Inline
  //.date {
  //  color: $navy-light;
  //  font-size: 1.5em;
  //  font-style: italic;
  //  white-space: nowrap;
  //}
  //&.no-social {
  //  padding-bottom: 1.5em;
  //}
}

.previews .masthead {
  background-color: $grey-light;
  color: $navy;

  h1 {
    color: $purple;
    @include header-shadow-light;
  }
}

@include media-gt-md-sm {
  @include media-lt-full {
    .tags,
    .masthead header {
      // Important to override styles for Fusion ads
      margin-right: 1em !important;
      padding-right: $fusion-ad-width !important;
    }
    .masthead p {
      padding-right: 1em;
    }
    .masthead .inner-wrapper {
      margin-right: 1em;
      padding-right: $fusion-ad-width;
    }
  }
}
@include media-full {
  .tags,
  .masthead header {
    margin-right: 3em !important;
    padding-right: $fusion-ad-width !important;
  }
}