.related-posts {
	@extend .stretch;
	-moz-column-width: 450px;
	-moz-column-gap: 2em;
	-webkit-column-width: 450px;
	-webkit-column-gap: 2em;
	column-width: 450px;
	column-gap: 2em;
	margin-top: $paragraph-spacing;

	ul {
		margin-top: 0;
	}

	li {
		// Prevent wrapping of single items
		-webkit-column-break-inside: avoid; // Chrome v32
		break-inside: avoid; // Standard http://www.w3.org/TR/css3-multicol/#break-inside
	}
}