table {
  width:100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: $paragraph-spacing;
}

td, th {
  padding:.25em .5em;
  border:1px solid #5C5C66;
}

th {
  background-color: #2D2D39;
  color: #C0C0C0;
}

main table {
  @extend .stretch;
}