.wrapper {
  @include media-full {
    width: $full-width;
  }

  @include media-lt-full {
    padding: 0 1em;
  }
  
  margin: 0 auto;
  position: relative;

  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.inner-wrapper {
  @include media-full {
    width: $full-width-left;
  }
}

.stretch {
  @include media-full {
    width: $full-width;
  }
}