.wrapper {
  // Inline
  //@include media-full {
  //  width: $full-width;
  //}
  //@include media-lt-full {
  //  padding: 0 1em;
  //}  
  //margin: 0 auto;
  position: relative;

  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.inner-wrapper {
  @include media-full {
    width: $full-width-left;
  }
  @include media-lt-full {
    @include media-gt-sm {
      margin-right: 1em;
      padding-right: $fusion-ad-width;
    }
  }
}

@include media-lt-full {
  @include media-gt-sm {
    .masthead .inner-wrapper {
      margin-right: 1em;
      padding-right: $fusion-ad-width;
    }
    .masthead p {
      padding-right: 1em;
    }
  }
}

.stretch {
  @include media-full {
    width: $full-width;
  }
}