.wrapper {
  // Inline
  //@include media-full {
  //  width: $full-width;
  //}
  //@include media-lt-full {
  //  padding: 0 1em;
  //}  
  //margin: 0 auto;
  position: relative;

  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.inner-wrapper {
  @include media-full {
    width: $full-width-left;
  }
  @include media-lt-full {
    margin-right: 1em;
    padding-right: $fusion-ad-width;
  }
}

.stretch {
  @include media-full {
    width: $full-width;
  }
}