$navy:        #2D2D39;
$navy-light:  #5C5C66;
$purple:      #8981C1;
$purple-dark: #605A87;
$red:         #E0544C;
$red-dark:    #9D3B35;
$grey:        #C0C0C0;
$grey-dark:   #777777;
$grey-light:  #E4E4E4;
$white:       #FFFFFF;

$comment-green: #537A53;
$mark-yellow:   #FFFF88;