$navy:        #1E1E38;
$navy-light:  #727282;
$purple:      #9B59BF;
$purple-dark: #633A7A;
$red:         #E0544C;
$red-dark:    #9D3B35;
$grey:        #C0C0C0;
$grey-dark:   #777777;
$grey-light:  #EAEAEA;
$white:       #FFFFFF;

$comment-green:   #537A53;
$mark-yellow:     #FFFF88;
$fusion-ad-color: #000000;
$fusion-ad-bg:    #8B8B99;
