$image-path: "/images/";

// Top nav icons
$home-icon:      $image-path + "general/home.svg";
$feed-icon:      $image-path + "general/feed.svg";
$search-icon:    $image-path + "general/search.svg";
$prev-page-icon: $image-path + "general/prev_page.svg";
$home-page-icon: $image-path + "general/next_page.svg";

$about-icon: $image-path + "general/about.svg";
$explore-icon: $image-path + "general/explore.svg";
$top-articles-icon: $image-path + "general/star.svg";

// Social icons
$codepen-icon:       $image-path + "social/codepen.svg";
$facebook-icon:      $image-path + "social/facebook.svg";
$github-icon:        $image-path + "social/github.svg";
$google-plus-icon:   $image-path + "social/google-plus.svg";
$linkedin-icon:      $image-path + "social/linkedin.svg";
$pinterest-icon:     $image-path + "social/pinterest.svg";
$stackoverflow-icon: $image-path + "social/stackoverflow.svg";
$stumbleupon-icon:   $image-path + "social/stumbleupon.svg";
$twitter-icon:       $image-path + "social/twitter.svg";
