$full-width: 1000px;
$full-width-left: 700px;
$full-width-right: 300px;
// Another for lg-width+x for social icons on side?

$paragraph-spacing: .8em;

$header-height-large: 99px;
$logo-height-large: 77px;
$header-spacing: ($header-height-large - $logo-height-large) / 2;
$search-width: 20em;
$search-height: 34px;

$small-width: 500px;

$medium-small-width: 600px;
$medium-width: 730px;
$medium-large-width: 830px;

$fusion-ad-width: 130px;
$fusion-ad-wide-width: $fusion-ad-width * 2;